*.bin
.idea
.idea/*
.idea/**
.gradle
.gitignore
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.pem
*.iml
*.dex
*.MF
*.class
bin/
gen/
/*/build/
/*/out/
proguard/
*.log
*.epoch
*.lck
/out/production/
*/out/production/
/target
/*/target

checkout.cmd


**/logback.xml

build
/**/build/

/**/out/
/**/testdata/